.img {
  display: block;
  margin: auto;
  height: 400px;
}
.goHome {
  position: relative;
}
.goHome::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.goHome:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
